<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="">

    <!-- 
            Showing the input value on ui
        <input type="text" ng-model="firstName">
        <input type="text" ng-model="lastName">
        <p>{{firstName}} {{lastName}}</p>
    -->

    <!-- Test -->
    <!-- 
    <input type="number" ng-model="firstNum"><input type="number" ng-model="lastNum">
    <p>Sum = {{firstNum + lastNum}}</p>
     -->

    <div ng-init="num=0">
        <input type="button" value="-" ng-click="num=num-1">
        <input ng-value="num">
        <input type="button" value="+" ng-click="num=num+1">
    </div>

    <script src=" script.js"></script>
</body>

</html>